next==latest
@genkit-ai/googleai==latest
@genkit-ai/next==latest
@hookform/resolvers==latest
@radix-ui/react-accordion==latest
@radix-ui/react-alert-dialog==latest
@radix-ui/react-avatar==latest
@radix-ui/react-checkbox==latest
@radix-ui/react-collapsible==latest
@radix-ui/react-dialog==latest
@radix-ui/react-dropdown-menu==latest
@radix-ui/react-label==latest
@radix-ui/react-menubar==latest
@radix-ui/react-popover==latest
@radix-ui/react-progress==latest
@radix-ui/react-radio-group==latest
react==latest
react-dom==latest
tailwindcss==latest
typescript==latest
@types/node==latest
@types/react==latest
@types/react-dom==latest
eslint==latest
eslint-config-next==latest
postcss==latest
tsx==latest
@genkit-ai/tools==latest
@radix-ui/react-slot==latest
class-variance-authority==latest
clsx==latest
date-fns==latest
zod==latest
@genkit-ai/flow==latest
@genkit-ai/core==latest
@radix-ui/react-scroll-area==latest
@radix-ui/react-select==latest
@radix-ui/react-separator==latest
@radix-ui/react-sheet==latest
@radix-ui/react-slider==latest
@radix-ui/react-switch==latest
@radix-ui/react-tabs==latest
@radix-ui/react-toast==latest
@radix-ui/react-tooltip==latest
lucide-react==latest
react-day-picker==latest
tailwind-merge==latest
jediswap-sdk==latest
next-themes==latest
zod-validation-error==latest
@hookform/resolvers==latest
react-hook-form==latest
@radix-ui/react-collapsible==latest
vaul==latest
@tremor/react==latest
ai==latest
firebase==latest