next
@genkit-ai/googleai
@genkit-ai/next
@hookform/resolvers
@radix-ui/react-accordion
@radix-ui/react-alert-dialog
@radix-ui/react-avatar
@radix-ui/react-checkbox
@radix-ui/react-collapsible
@radix-ui/react-dialog
@radix-ui/react-dropdown-menu
@radix-ui/react-label
@radix-ui/react-menubar
@radix-ui/react-popover
@radix-ui/react-progress
@radix-ui/react-radio-group
react
react-dom
tailwindcss
typescript
@types/node
@types/react
@types/react-dom
eslint
eslint-config-next
postcss
tsx
@genkit-ai/tools
@radix-ui/react-slot
class-variance-authority
clsx
date-fns
zod
@genkit-ai/flow
@genkit-ai/core
@radix-ui/react-scroll-area
@radix-ui/react-select
@radix-ui/react-separator
@radix-ui/react-sheet
@radix-ui/react-slider
@radix-ui/react-switch
@radix-ui/react-tabs
@radix-ui/react-toast
@radix-ui/react-tooltip
lucide-react
react-day-picker
tailwind-merge
jediswap-sdk
next-themes
zod-validation-error
@hookform/resolvers
react-hook-form
@radix-ui/react-collapsible
vaul
@tremor/react
ai
firebase